@model WebApp.Models.Persons.CreatePersonViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ID Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalNumber" class="control-label"></label>
                <input asp-for="PersonalNumber" class="form-control" />
                <span asp-validation-for="PersonalNumber" class="text-danger"></span>
            </div>

            <h4>Address</h4>
            <hr />
            <div class="form-group">
                <label asp-for="@Model.Address.Town" class="control-label"></label>
                <input asp-for="@Model.Address.Town" class="form-control" />
                <span asp-validation-for="@Model.Address.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address.Street" class="control-label"></label>
                <input asp-for="@Model.Address.Street" class="form-control" />
                <span asp-validation-for="@Model.Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address.AdditionalDescription" class="control-label"></label>
                <input asp-for="@Model.Address.AdditionalDescription" class="form-control" />
                <span asp-validation-for="@Model.Address.AdditionalDescription" class="text-danger"></span>
            </div>

            <h4>Phone</h4>
            <hr />
            <div class="form-group">
                <label asp-for="@Model.Phone.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.Phone.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.Phone.PhoneNumber" class="text-danger"></span>
            </div>

            <h4>Email</h4>
            <hr />
            <div class="form-group">
                <label asp-for="@Model.Email.Email" class="control-label"></label>
                <input asp-for="@Model.Email.Email" class="form-control" />
                <span asp-validation-for="@Model.Email.Email" class="text-danger"></span>
            </div>

            <h4>Medical Information</h4>
            <hr />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasHealthInsurance" /> @Html.DisplayNameFor(model => model.HasHealthInsurance)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BloodId" class="control-label"></label>
                <select asp-for="BloodId" class="form-control" asp-items="Model.BloodTypes"></select>
                <span asp-validation-for="BloodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RhDId" class="control-label"></label>
                <select asp-for="RhDId" class="form-control" asp-items="Model.RhDs"></select>
                <span asp-validation-for="RhDId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <input asp-for="DoctorId" class="form-control" />
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
